/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2017, 8:51:18 AM
    Author     : miolivc
*/

* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

html, body {
    height: 100%;
}

#menu-bar, #bottom-bar {
    background-color: brown;
    color: white;
}

#bottom-bar {
    bottom: 0;
    padding: 1%;
}

#menu-bar li {
    display: inline-block;
    padding: 1%;
    list-style: none;
}

#menu-bar a {
    text-decoration: none;
    color:white;
}

#menu-bar li:hover {
    background-color: white;
    color: brown;
    transition-duration: 0.5s;
}

#content {
    min-height: 80%;
}

#content h1 {
    margin: 2%;
}

#table {
}

#table tr {
    background-color: wheat;
    min-height: 2%;
}

#table tr td {
    min-width: 150px;
}

#table tr th {
    padding: 5px;
    background-color: brown;
    color: white;
}

#form {
    width: 40%;
}

#form input {
    text-align: justify;
    width: 250px;
    height: 2%;
    padding: 1%;
    margin: 0.5%;
}

#form input[type='submit'], #form a {
    text-align: center;
    width: 170px;
}